<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @student.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @student.prenom %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.dob %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @student.statut %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
